@use "../../../../../../common/variable" as v;

div.card-box {
  div.bigCard,
  div.smallCard {
    position: relative;
    img {
      width: 100%;
    }

    div.text-card {
      position: absolute;
      left: 39px;
      bottom: 43px;
      @media (max-width: 767.98px){
        left: 8px;
        bottom: 10px;
      }
      @at-root html[dir="rtl"] div.text-card {
        left: 0 !important;
        right: 39px !important;
        @media (max-width: 767.98px){
          left: 0 !important;
          right: 8px !important;
        }
      }
      h4.header-card {
        color: v.$secund_words_color;
        margin-bottom: 4px;
        font-size: 32px;
        font-weight: 700;
        @media (max-width: 767.98px){
          font-size: 12px;
        }
      }

      p.paragraph-card {
        color: v.$main_words_color;
        font-size: 17px;
        @media (max-width: 767.98px){
          font-size: 13px;
        }
      }
    }
  }
  div.bigCard {
    .hand-img-card {
      img {
        height: 750px;
      }
    }
  }
  div.smallCard {
    .hand-img-card {
      img {
        height: calc(750px / 2 - 14px);
      }
    }
  }
}
