@use "./variable" as v;

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  margin: 0 v.$container-right-m 0 v.$container-left-m;
  width: calc(100% - v.$container-right-m - v.$container-left-m);
  /* small */
  @media (min-width: 768px) {
    // width: 750px;
  }
  /* medium */
  @media (min-width: 992px) {
    // width: 970px;
  }
  /* large */
  @media (min-width: 1200px) {
    // width: 1170px;
  }
}