@use "./variable" as v;

@mixin coButton($fontSizing,$paddingY, $paddingX) {
  border: none;
  outline: none;
  cursor: pointer;
  padding: $paddingY $paddingX;
  border-radius: 5px;
  background-color: v.$main_words_color;
  color: v.$secund_words_color;
  font-size: $fontSizing;
  font-weight: 400;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}