// color variable
$main-section-color: #30336a;
$sec-back-sections: #f7f8f9;
$main_words_color: #f3c065;
$secund_words_color: #ffffff;
$nav_paragraph_color: #bbc3cf;
$landing_paragraph_color: #9799b4;
$sections_paragraph_color: #9396b2;
$border-button-transparent: #77798b;
$benefit-item-header-color: #2a3342;
$benefit-item-paragraph-color: #556987;
$footer_color: #8896ab;
$social_icons_color: #bbc3cf;

// margin variable
$container-left-m: 143px;
$container-right-m: 85px;
