// color variable
$main-section-color: #30336a;
$secund-section-color: #ededed;
$main_words_color: #f3c065;
$secund_words_color: #ffffff;
$nav_paragraph_color: #bbc3cf;
$landing_paragraph_color: #9799b4;
$sections_paragraph_color: #9396b2;
$footer_color: #8896ab;
$social_icons_color: #bbc3cf;
